.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
  }
 
.blogItemh3{
    cursor: pointer;
    text-align: center;
}

.blogItemp{
  max-width: 60vw;
}
.btn{
  color: blue;
  border: none;
  cursor: pointer;
  margin-top: 0px;
}
